body{
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
    line-height: 1.5;
}
    
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
    
a{
    transition: 0.3s;
}
    
a:hover{
    opacity: 0.2;
}

h2{
    max-width: 220px;
    margin: 80px auto 40px;
    text-align: center;
    border-bottom: solid 4px #7f9916;
}

img{
    display: block;
    width: 100%;
    height: auto;
}
    
.page-header,
.page-hero,
.page-content,
.ppage-footer{
    min-width: 1280px;
    width: 100%;
}
    
.page-header{
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
    padding: 16px 0 24px;
    background-color: #fff;
}

.page-header,
.page-header_inner{
    box-sizing: content-box;
}

.page-header{
    border-top: solid 4px #7f9916;
}
.page-header_inner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.page-header .logo,
.page-footer .logo{
    width: 256px;
}

.sns-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sns-list_item{
    width: 24px;
}

.sns-list_item:not(:first-child){
    margin-left: 16px;
}

.page-header_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.gloval-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gloval-nav>.sns-list{
    margin-left: 64px;
}

.gloval-nav>.link-button{
    margin-left: 64px;
}

.link-button{
    display: table;
    width: 140px;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
}

.feature-list{
    margin: auto;
    max-width: 1080px;
    display: flex;
    justify-content: center;
}

.feature-list_item{
    margin: 0 24px;
    text-align: center;
}

.feature-list_item>h3{
    padding: 16px;
}

.casestudy-list{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align:left;
}

.casestudy-list_item{
    max-width: 520px;
    padding: 20px;
}

.casestudy-list_item>h3{
    margin: 8px 0;
}

.price-list{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align:left;
    text-align: center;
}

.price-list_item{
    width: auto;
    margin: 20px;
}

.price-list_item>h3{
    padding: 8px 0;
}

.voice-list{
    max-width: 680px;
    margin: 0 auto ;
    padding: 20px 0;
}

.voice-list_item{
    display: flex;
    margin: 80px 0;
    padding: 48px 24px ;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #7f9916;
    border-radius: 5px; 
}

.voice-list_item>p{
    width: 500px;
}

.voice-list_item>img{
    width: 96px;
}

.bunner{
    max-width: 1080px;
    height: auto;
    margin: 40px auto;
}

.company-contents{
    max-width: 1080;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.company-list{
    margin: 4px 0;
}
.company-map{
    width: 540px;
    height: 440px;
}

.page-footer{
    max-width: 1080px;
    margin: auto;
    background: #E9F8AD;
}

.page-footer_inner{
    max-width: 1080px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.footer_sns-list{
    max-width: 1080;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
